name: Tests

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    permissions:
      contents: read
      pull-requests: read
      checks: write

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Golangci-lint
      uses: golangci/golangci-lint-action@v8.0.0

  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.26'

    - name: Test
      run: go test -v ./... -coverprofile=./cover.out -covermode=atomic -coverpkg=./...

    - name: check test coverage
      uses: vladopajic/go-test-coverage@v2
      with:
        config: ./.testcoverage.yml
